{
  "env": {
    "development": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-class-properties"
      ]
    },
    "webpack": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        "transform-class-properties"
      ]
    }
  }
}